@charset "UTF-8";
// 위치 : src/styles/variables.scss

// src/styles/variables.scss
@import "@/styles/fonts.scss";  // 로컬 폰트 불러오기

$body-font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

body {
    font-family: $body-font-family;  // 전체적인 폰트 적용
  }
  
  * {
    font-family: $body-font-family;  // 전체 요소에 적용
  }